header {
  height: 100px;
  background-color: black;
  color: white;
}
header .top {
  height: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .top ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .top ul li {
  padding-right: 10px;
}
header .top a {
  color: #787878;
  text-decoration: none;
}
header .top a:hover {
  color: white;
  text-decoration: underline;
}
header .top a i {
  color: #049dff;
  padding-right: 5px;
}
header .top select {
  margin: 0 10px;
}
header .main {
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main img {
  width: 10%;
  display: inline-block;
}
header .main nav {
  width: 80%;
  height: 100%;
}
header .main nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  font-size: 16px;
}
header .main nav ul li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}
header .main nav ul li:hover {
  background-color: white;
}
header .main nav ul li:hover a {
  color: black;
}
header .main nav ul a {
  color: white;
  text-decoration: none;
}
header .main .drop {
  position: relative;
}
header .main .drop:hover .dropdown {
  display: block;
}
header .main .drop .dropdown {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: white;
}
header .main .drop .dropdown ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
header .main .drop .dropdown ul li {
  width: 100%;
  padding: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 1200px;
  height: 100%;
  margin: auto;
}

.jumbo {
  height: 500px;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}
.jumbo .text-area {
  padding: 100px 0;
}
.jumbo .text-area h2 {
  font-size: 3em;
  padding: 20px 0;
}
.jumbo .text-area > p {
  font-size: 1.3em;
  line-height: 1.7;
  width: 50%;
}
.jumbo .text-area .limited {
  padding: 40px 0;
  color: purple;
  font-weight: lighter;
}
.jumbo .text-area .limited em strong {
  display: inline-block;
  margin-bottom: 10px;
}
.jumbo .text-area a {
  display: inline-block;
  padding: 15px 40px;
  background-color: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  margin-right: 5px;
}
.jumbo .text-area a:last-child {
  background-color: rgba(255, 0, 0, 0);
  color: black;
  border: 1px solid black;
}

main {
  background-color: #e8e8e8;
  padding: 50px 0;
}
main .row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
main .row1 h2 {
  font-size: 1.7em;
  padding: 30px 0;
  font-weight: 400;
  width: 100%;
  text-align: center;
}
main .row1 .col-3 {
  width: 30%;
  background-color: #fff;
}
main .row1 .col-3 img {
  width: 100%;
  margin-bottom: 20px;
}
main .row1 .col-3 a {
  display: inline-block;
}
main .row1 .col-3 p {
  line-height: 1.6;
}
main .row1 .col-3 h3,
main .row1 .col-3 p,
main .row1 .col-3 a {
  padding: 10px 20px;
}
main .row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main .row2 .text,
main .row2 .banner {
  width: 50%;
  height: 400px;
}
main .row2 div:nth-child(2) {
  background-image: url(../img/4.png);
  background-color: #232425;
  background-size: cover;
}
main .row2 div:nth-child(3) {
  background-image: url(../img/5.jpg);
  background-color: #232425;
  background-size: cover;
}
main .row2 div:nth-child(5) {
  background-image: url(../img/5.jpg);
  background-color: #232425;
  background-size: cover;
}
main .row2 .text {
  background-color: #3c1567;
}
main .row2 .text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px;
}
main .row2 .text h3 {
  font-size: 2.5em;
}
main .row2 .text p {
  line-height: 1.6;
  margin: 20px 0;
}
main .row2 .text a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  display: inline-block;
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ececec;
}
footer .container {
  display: flex;
}
footer .col-4 {
  width: 25%;
  padding: 50px 0;
}
footer .col-4 p {
  margin-bottom: 10px;
}
footer .col-4 img {
  width: 100%;
  display: inline-block;
  margin: 10px 0;
}
footer .col-4 ul {
  list-style: none;
}
footer .col-4 ul li {
  padding: 5px 0;
}
footer .col-4 ul li a {
  text-decoration: none;
  color: #787878;
}
