// COLORI

$primarycolor: rgb(0, 0, 0);
$iconcolor: #049dff;
$linkcolor: #787878;
$linkHover: white;
$purple: #c610b9;

// FONT

$textcolor: white;
$size1: 16px;

// MIXIN

@mixin myflex($a, $b) {
  display: flex;
  justify-content: $a;
  align-items: $b;
}
