@import "partials/variables";
@import "partials/header";
@import "partials/common";

header {
  height: 100px;
  background-color: $primarycolor;
  color: $textcolor;

  .top {
    height: 40%;
    @include myflex(flex-end, center);

    ul {
      height: 100%;
      list-style: none;
      @include myflex(flex-end, center);

      li {
        padding-right: 10px;
      }
    }

    a {
      color: $linkcolor;
      text-decoration: none;

      &:hover {
        color: $linkHover;
        text-decoration: underline;
      }

      i {
        color: $iconcolor;
        padding-right: 5px;
      }
    }

    select {
      margin: 0 10px;
    }
  }

  .main {
    height: 60%;
    @include myflex(space-between, center);

    img {
      width: 10%;
      display: inline-block;
    }

    nav {
      width: 80%;
      height: 100%;

      ul {
        height: 100%;
        @include myflex(space-between, flex-end);
        list-style: none;
        font-size: $size1;

        li {
          height: 100%;
          @include myflex(center, center);
          flex-grow: 2;
        }

        li:hover {
          background-color: white;
          a {
            color: black;
          }
        }

        a {
          color: $textcolor;
          text-decoration: none;
        }
      }
    }

    .drop {
      position: relative;

      &:hover .dropdown {
        display: block;
      }

      .dropdown {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        background-color: white;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;

          li {
            width: 100%;
            padding: 30px;
          }
        }
      }
    }
  }
}

.jumbo {
  height: 500px;
  background-image: url(../img/bg.jpg);
  background-size: cover;

  .text-area {
    padding: 100px 0;

    h2 {
      font-size: 3em;
      padding: 20px 0;
    }

    & > p {
      font-size: 1.3em;
      line-height: 1.7;
      width: 50%;
    }

    .limited {
      padding: 40px 0;
      color: purple;
      font-weight: lighter;

      em strong {
        display: inline-block;
        margin-bottom: 10px;
      }
    }

    a {
      display: inline-block;
      padding: 15px 40px;
      background-color: $primarycolor;
      color: $linkHover;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid $primarycolor;
      margin-right: 5px;

      &:last-child {
        background-color: rgba(255, 0, 0, 0);
        color: $primarycolor;
        border: 1px solid $primarycolor;
      }
    }

    a:first-child {
    }
  }
}
